In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_excel('it_db.xlsx')

In [3]:
db.tail()

,STUDENT'S COLLEGE ID,DEPARTMENT (ABBR.),STUDENT'S FULL NAME,FIRST NAME,MIDDLE NAME,LAST NAME,TCS-CT REFERENCE NUMBER,GENDER (M/F),D.O.B (DD/MM/YYYY),AGE (IN YRS.),...,PERMANENT - ADDRESS FOR CORRESPONDENCE (IN FULL),PERMANENT LOCATION (PLACE - CITY/TOWN/VILLAGE),PERMANENT LOCATION (DISTRICT),PERMANENT LOCATION (STATE),PERMANENT LOCATION (PIN CODE),PRESENT ADDRESS (IN FULL),PRESENT LOCATION (PLACE - CITY/TOWN/VILLAGE),PRESENT LOCATION (DISTRICT),PRESENT LOCATION (STATE),PRESENT LOCATION (PINCODE)
78.0,1.310902e+09,IT,UTKARSH,UTKARSH,NaN,NaN,NaN,M,18/01/1995,21,...,"SINGH LODGE,NEAR S.M COLLEGE,CHOOTI KHANJARPUR...","SINGH LODGE,NEAR S.M COLLEGE,CHOOTI KHANJARPUR...",BHAGALPUR,BIHAR,812001,"SINGH LODGE,NEAR S.M COLEEGE,CHOOTI KHANJARPUR...","SINGH LODGE,NEAR S.M COLLEGE,CHOOTI KHANJARPUR...",BHAGALPUR,BIHAR,812001
79.0,1.310902e+09,IT,VIPUL KUMAR,VIPUL,NaN,KUMAR,CT20151633884,M,05/05/1995,19,...,"LATE RAJENDRA PRASAD SHAU, ALKAPURI SHIV MANDI...",RANCHI,RANCHI,JHARKHAND,834005,"C/O RABINDRA NATH KAYAL, DHALUA NORTH, (RABIND...",KOLKATA,SOUTH 24 PARAGANA,WEST BENGAL,700152
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,SAYAN ROY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,JYOTIRMOY SARKAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for i in db.columns:
    print('"'+i+'",')

"STUDENT'S COLLEGE ID",
"DEPARTMENT (ABBR.)",
"STUDENT'S FULL NAME",
"FIRST NAME",
"MIDDLE NAME",
"LAST NAME",
"TCS-CT REFERENCE NUMBER",
"GENDER (M/F)",
"D.O.B (DD/MM/YYYY)",
"AGE (IN YRS.)",
"BLOOD GROUP",
"CATEGORY",
"RELIGION",
"NATIONALITY",
"PLACE OF DOMICILE (PLACE-DISTRICT-STATE)",
"(STD CODE)(RESIDENCE LANDLINE NUMBER)",
"STUDENT'S MOBILE CONTACT NO.",
"STUDENT'S ALTERNATIVE MOBILE CONTACT NO.",
"PRIMARY E-MAIL ID",
"SECONDARY E-MAIL ID",
"NAME OF EXAMINATION - CLASS X",
"NAME OF BOARD - CLASS X",
"NAME OF SCHOOL(IN FULL)-CLASS X",
"SUBJECT COMINATION (DO NOT USE ABBR.)-CLASS X",
"MEDIUM OF INSTRUCTION-CLASS X",
"Y.O.P - CLASS X",
"STANDARD % OF CLASS X",
"ACTUAL % OF CLASS X",
"TOTAL MARKS OBTAINED IN ALL THE SUBJECTS IN CLASS X",
"TOTAL MARKS OF EXAM APPEARED IN CLASS X",
"NAME OF EXAMINATION - CLASS XII",
"NAME OF BOARD/COUNCIL - CLASS XII",
"NAME OF SCHOOL(IN FULL) - CLASS XII",
"SUBJECT COMINATION (DO NOT USE ABBR.) - CLASS XII",
"MEDIUM OF INSTRUCTION - CLASS XII",
"Y.O.P - CLASS XII",
"STANDARD % OF CLASS XII",
"ACTUAL % OF CLASS XII",
"TOTAL MARKS OBTAINED IN ALL THE SUBJECTS IN CLASS XII",
"TOTAL MARKS OF EXAM APPEARED IN CLASS XII",
"DIPLOMA STREAM",
"DIPLOMA UNIVERSITY/BOARD/COUNCIL (IN FULL)",
"NAME OF INSTITUTE (IN FULL) - DIPLOMA",
"MEDIUM OF INSTRUCTION- DIPLOMA",
"Y.O.P - DIPLOMA",
"DIPLOMA AGGREGATE MARKS % ",
"NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)",
"ENTRANCE RANK(OVERALL ALL INDIA RANK)",
"ENTRANCE RANK(STATE RANK)",
"YEAR OF JOINT ENTRANCE EXAM",
"CURRENT COURSE",
"CURRENT STREAM",
"YEAR OF ENTRY",
"YEAR OF PASSING",
"MEDIUM OF INSTRUCTION",
"UNIVERSITY ROLL NO.",
"UNIVERSITY REGISTRATION NO.",
"SEM 1",
"SEM 2",
"SEM 3",
"SEM 4",
"SEM 5",
"ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)",
"IF YES, MENTION NUMBER OF BACKLOG(S)",
"CORE TECHNICAL STRENGTH",
"COMPUTER LANGUAGES KNOWN",
"PROJECT TITLE- INDUSTRIAL TRAINING/ V.T./ INTERNSHIP",
"NAME OF THE ORGANIZATION",
"DURATION (FROM DD/MM/YYYY TO DD/MM/YYYY)",
"ANY SEMINARS/WORKSHOPS ATTENDED",
"OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)",
"IF YES, MENTION THE DURATION(S) (YYYY-YYYY)",
"TOTAL GAP IN YEAR(S)",
"WORK EXPERIENCE, IF ANY (MONTHS / YEARS AS APPLICABLE)",
"NAME OF THE ORGANIZATION SERVED - WORK EXPERIENCE",
"ACHIEVEMENTS (ACADEMIC) ",
"ACHIEVEMENTS (NON ACADEMIC) ",
"CERTIFICATIONS (ACADEMIC)",
"CERTIFICATIONS (NON ACADEMIC)",
"FATHER'S NAME",
"FATHER'S OCCUPATION",
"ORGANIZATION",
"DESIGNATION",
"MOTHER'S NAME",
"MOTHER'S OCCUPATION",
"ORGANIZATION.1",
"DESIGNATION.1",
"GUARDIAN'S NAME(IN ABSENCE OF EITHER OF THE PARENTS)",
"GUARDIAN'S OCCUPATION",
"ORGANIZATION.2",
"DESIGNATION.2",
"RELATIONSHIP WITH GUARDIAN",
"PERMANENT - ADDRESS FOR CORRESPONDENCE (IN FULL)",
"PERMANENT LOCATION (PLACE - CITY/TOWN/VILLAGE)",
"PERMANENT LOCATION (DISTRICT)",
"PERMANENT LOCATION (STATE)",
"PERMANENT LOCATION (PIN CODE)",
"PRESENT ADDRESS (IN FULL)",
"PRESENT LOCATION (PLACE - CITY/TOWN/VILLAGE)",
"PRESENT LOCATION (DISTRICT)",
"PRESENT LOCATION (STATE)",
"PRESENT LOCATION (PINCODE)",

In [5]:
db_fs = db.drop(["STUDENT'S COLLEGE ID",
"DEPARTMENT (ABBR.)",
"STUDENT'S FULL NAME",
"FIRST NAME",
"MIDDLE NAME",
"LAST NAME",
"TCS-CT REFERENCE NUMBER",
"D.O.B (DD/MM/YYYY)",
"NATIONALITY",
"PLACE OF DOMICILE (PLACE-DISTRICT-STATE)",
"(STD CODE)(RESIDENCE LANDLINE NUMBER)",
"STUDENT'S MOBILE CONTACT NO.",
"STUDENT'S ALTERNATIVE MOBILE CONTACT NO.",
"PRIMARY E-MAIL ID",
"SECONDARY E-MAIL ID",
"NAME OF EXAMINATION - CLASS X",
"NAME OF SCHOOL(IN FULL)-CLASS X",
"SUBJECT COMINATION (DO NOT USE ABBR.)-CLASS X",
"STANDARD % OF CLASS X",
"TOTAL MARKS OBTAINED IN ALL THE SUBJECTS IN CLASS X",
"TOTAL MARKS OF EXAM APPEARED IN CLASS X",
"NAME OF EXAMINATION - CLASS XII",
"NAME OF SCHOOL(IN FULL) - CLASS XII",
"SUBJECT COMINATION (DO NOT USE ABBR.) - CLASS XII",
"STANDARD % OF CLASS XII",
"TOTAL MARKS OBTAINED IN ALL THE SUBJECTS IN CLASS XII",
"TOTAL MARKS OF EXAM APPEARED IN CLASS XII",
"DIPLOMA STREAM",
"DIPLOMA UNIVERSITY/BOARD/COUNCIL (IN FULL)",
"NAME OF INSTITUTE (IN FULL) - DIPLOMA",
"MEDIUM OF INSTRUCTION- DIPLOMA",
"Y.O.P - DIPLOMA",
"DIPLOMA AGGREGATE MARKS % ",
"YEAR OF JOINT ENTRANCE EXAM",
"CURRENT COURSE",
"CURRENT STREAM",
"YEAR OF ENTRY",
"YEAR OF PASSING",
"MEDIUM OF INSTRUCTION",
"UNIVERSITY ROLL NO.",
"UNIVERSITY REGISTRATION NO.",
"IF YES, MENTION NUMBER OF BACKLOG(S)",
"NAME OF THE ORGANIZATION",
"DURATION (FROM DD/MM/YYYY TO DD/MM/YYYY)",
"IF YES, MENTION THE DURATION(S) (YYYY-YYYY)",
"TOTAL GAP IN YEAR(S)",
"WORK EXPERIENCE, IF ANY (MONTHS / YEARS AS APPLICABLE)",
"NAME OF THE ORGANIZATION SERVED - WORK EXPERIENCE",
"FATHER'S NAME",
"FATHER'S OCCUPATION",
"ORGANIZATION",
"DESIGNATION",
"MOTHER'S NAME",
"MOTHER'S OCCUPATION",
"ORGANIZATION.1",
"DESIGNATION.1",
"GUARDIAN'S NAME(IN ABSENCE OF EITHER OF THE PARENTS)",
"GUARDIAN'S OCCUPATION",
"ORGANIZATION.2",
"DESIGNATION.2",
"RELATIONSHIP WITH GUARDIAN",
"PERMANENT - ADDRESS FOR CORRESPONDENCE (IN FULL)",
"PERMANENT LOCATION (PLACE - CITY/TOWN/VILLAGE)",
"PERMANENT LOCATION (DISTRICT)",
"PERMANENT LOCATION (PIN CODE)",
"PRESENT ADDRESS (IN FULL)",
"PRESENT LOCATION (PLACE - CITY/TOWN/VILLAGE)",
"PRESENT LOCATION (DISTRICT)",
"PRESENT LOCATION (PINCODE)"], axis=1)

In [6]:
db_fs.tail()

,GENDER (M/F),AGE (IN YRS.),BLOOD GROUP,CATEGORY,RELIGION,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,...,COMPUTER LANGUAGES KNOWN,PROJECT TITLE- INDUSTRIAL TRAINING/ V.T./ INTERNSHIP,ANY SEMINARS/WORKSHOPS ATTENDED,OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO),ACHIEVEMENTS (ACADEMIC),ACHIEVEMENTS (NON ACADEMIC),CERTIFICATIONS (ACADEMIC),CERTIFICATIONS (NON ACADEMIC),PERMANENT LOCATION (STATE),PRESENT LOCATION (STATE)
78.0,M,21,A+,GEN,HINDU,CBSE,ENGLISH,2011.0,74.1,CBSE,...,"C,JAVA,DBMS",INDUSTRIAL TRAINING,NO,NO,NaN,NaN,NaN,NaN,BIHAR,BIHAR
79.0,M,19,O+,GENERAL,HINDU,CBSE,ENGLISH,2010.0,77.9,CBSE,...,"C, FUNDAMENTAL OF JAVA",NaN,SEMINAR ON DBMS,YES,WENT FOR SSB FOR INDIAN AIR FORCE AND QUALIFIE...,ORGANISED TECH FAIR AT COLLEGE TECH FEST 2015-...,STUDIED CORE JAVA AT ALPINE INFOTECT RANCHI,NaN,JHARKHAND,WEST BENGAL
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
db_fs.columns

Index(['GENDER (M/F)', 'AGE (IN YRS.)', 'BLOOD GROUP', 'CATEGORY', 'RELIGION',
       'NAME OF BOARD - CLASS X', 'MEDIUM OF INSTRUCTION-CLASS X',
       'Y.O.P - CLASS X', 'ACTUAL % OF CLASS X',
       'NAME OF BOARD/COUNCIL - CLASS XII',
       'MEDIUM OF INSTRUCTION - CLASS XII', 'Y.O.P - CLASS XII',
       'ACTUAL % OF CLASS XII',
       'NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)',
       'ENTRANCE RANK(OVERALL ALL INDIA RANK)', 'ENTRANCE RANK(STATE RANK)',
       'SEM 1', 'SEM 2', 'SEM 3', 'SEM 4', 'SEM 5',
       'ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)', 'CORE TECHNICAL STRENGTH',
       'COMPUTER LANGUAGES KNOWN',
       'PROJECT TITLE- INDUSTRIAL TRAINING/ V.T./ INTERNSHIP',
       'ANY SEMINARS/WORKSHOPS ATTENDED',
       'OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)',
       'ACHIEVEMENTS (ACADEMIC) ', 'ACHIEVEMENTS (NON ACADEMIC) ',
       'CERTIFICATIONS (ACADEMIC)', 'CERTIFICATIONS (NON ACADEMIC)',
       'PERMANENT LOCATION (STATE)', 'PRESENT LOCATION (STATE)'],
      dtype='object')

In [8]:
db_marks = db_fs.drop(['GENDER (M/F)', 'AGE (IN YRS.)', 'BLOOD GROUP', 'CATEGORY', 'RELIGION',
       'CORE TECHNICAL STRENGTH',
       'COMPUTER LANGUAGES KNOWN',
       'PROJECT TITLE- INDUSTRIAL TRAINING/ V.T./ INTERNSHIP',
       'ANY SEMINARS/WORKSHOPS ATTENDED',
       'ACHIEVEMENTS (ACADEMIC) ', 'ACHIEVEMENTS (NON ACADEMIC) ',
       'CERTIFICATIONS (ACADEMIC)', 'CERTIFICATIONS (NON ACADEMIC)',
       'PERMANENT LOCATION (STATE)', 'PRESENT LOCATION (STATE)'], axis=1)

In [9]:
db_marks.head()

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
1.0,CENTRAL BOARD OF SECONDARY EDUCATION,ENGLISH,2011.0,95.00,"BIHAR SCHOOL EXAMINATION BOARD, PATNA",ENGLISH,2013.0,70.6,WBJEE,24587,24587,6.37,6.97,6.90,7.69,7.73,NO,NO
2.0,COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAM...,ENGLISH,2010.0,81.71,COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAM...,ENGLISH,2012.0,70.0,WBJEE,29514,29514,6.37,5.57,6.95,7.62,7.69,YES,YES
3.0,WEST BENGAL BOARD OF SECONDARY EDUCATION,ENGLISH,2011.0,83.11,WEST BENGAL COUNCIL OF HIGHER SECONDARY EDUCATION,ENGLISH,2013.0,66.0,WBJEE,NaN,44415,6.85,8.17,7.83,8.81,8.54,NO,NO
4.0,I.C.S.E,ENGLISH,2011.0,86.14,I.C.S.E,ENGLISH,2013.0,77.0,AIEEE,487488,14844,6.36,6.72,6.59,6.96,6.42,NO,NO
5.0,WEST BENGAL BOARD OF SECONDARY EDUCATION,ENGLISH,2011.0,78.00,WEST BENGAL COUNCIL OF HIGHER SECONDARY EDUCATION,ENGLISH,2013.0,70.0,JEE(MAIN),366463,11372,6.63,7.03,7.48,8.08,8.69,NO,NO

In [10]:
for i in db_marks.columns:
    print(i)
    print(db_marks[i].unique())

NAME OF BOARD - CLASS X
['CENTRAL BOARD OF SECONDARY EDUCATION'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS,NEW DELHI'
 'WEST BENGAL BOARD OF SECONDARY EDUCATION' 'I.C.S.E' 'B.S.E.B PATNA'
 'WBBSE' 'BIHAR SCHOOL EXAMINATION BOARD'
 'WEST BENGAL BOARD OF SECONDARY EXAMINATION'
 'TRIPURA BOARD OF SECONDARY EDUCATION'
 'COUNCIL OF INDIAN SCHOOL CERTIFICATE EXAMINATION' 'CBSE'
 'CENTRAL BOARD OF' 'C.B.S.E' 'J.A.C RANCHI'
 'WEST BENGAL BOARD OF SECONDRY EDUCATION' 'C.I.S.C.E.' 'CISCE'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS'
 'WEST BENGAL BOARD OF SECONDARY EDUCCATION'
 'CENTRAL BOARD OF SECONDARY EXAMINATION'
 'BIHAR SCHOOL EXAMINATION BOARD PATNA' 'ICSE'
 '\nBIHAR SCHOOL EXAMINATION BOARD,PATNA'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION(CISCE)'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS, NEW DELHI' nan]
MEDIUM OF INSTRUCTION-CLASS X
['ENGLISH' 'BENGALI' 'HINDI' nan 'ENGLIGH' 'BENGALI  ']
Y.O.P - CLASS X
[ 2011.  2010.    nan  2009.  2008.]
ACTUAL % OF CLASS X
[ 95.     81.71   83.11   86.14   78.     83.75   73.83   76.75   66.5    70.
  55.     89.62   72.43   81.7    82.     62.1    69.13   82.75   72.
  69.75   76.     77.9    62.375  71.75   53.43   60.     83.25    7.6
  63.75   84.87   51.3    63.77   77.62   83.6    81.     88.14   74.57
  85.86   77.56   87.4    79.13   77.     66.55   87.1    75.     77.83
  82.12   72.25   74.85   77.87   78.16   79.56   83.87   78.5    79.87
  78.86   89.3    78.875  76.38   80.087  84.     74.62   82.5    71.25
  85.5    91.29   78.25   92.28   61.     87.85   74.1       nan]
NAME OF BOARD/COUNCIL - CLASS XII
['BIHAR SCHOOL EXAMINATION BOARD, PATNA'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS,NEW DELHI'
 'WEST BENGAL COUNCIL OF HIGHER SECONDARY EDUCATION' 'I.C.S.E'
 'B.S.E.B PATNA' 'WBCHSE' 'BIHAR SCHOOL EXAMINATION BOARD' nan
 'CENTRAL BOARD OF SECONDARY EDUCATION' 'AISSCE' 'CBSE' 'C.B.S.E'
 'J.A.C RANCHI' 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION'
 'BSEB' 'WEST BENGAL COUNCIL OF HIGHER SECONDRY EDUCATION' 'C.I.S.C.E.'
 'CISCE' 'CENTRAL BOARD OF SECONDARY EDUCATION (CBSE)'
 'WEST BENGAL COUNCIL OF SECONDARY EDUCATION'
 'BIHAR SCHOOL EXAMINATION BOARD,PATNA'
 'CENTRAL BOARD OF SECONDARY EXAMINATION'
 'BIHAR SCHOOL EXAMINATION BOARD PATNA' 'ISC'
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION,NEW DELHI']
MEDIUM OF INSTRUCTION - CLASS XII
['ENGLISH' 'BENGALI' 'HINDI' nan]
Y.O.P - CLASS XII
[ 2013.  2012.    nan  2011.]
ACTUAL % OF CLASS XII
[ 70.6   70.    66.    77.    74.    69.8   65.71  75.    63.8     nan
  72.57  65.6   68.    77.14  67.83  64.    67.43  70.71  68.4   78.28
  71.8   54.42  59.43  60.    73.43  66.28  70.57  80.14  63.2   58.5
  75.28  69.    71.71  82.    71.14  78.2   73.28  87.    67.14  60.4
  55.85  78.5   73.71  63.    74.2   68.29  66.16  63.28  73.15  72.    74.8
  72.8   85.    72.43  73.5   76.    67.    81.42  68.57  69.42  61.85
  61.4   80.    66.86  89.17  76.5   63.4   67.6 ]
NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)
['WBJEE' 'AIEEE' 'JEE(MAIN)' 'JELET'
 'WEST BENGAL JOINT ENTRANCE EXAMINATION'
 'WEST BENGAL JOINT ENTRANCE EXAMINATION ' 'JEE(Main)' nan]
ENTRANCE RANK(OVERALL ALL INDIA RANK)
[24587 29514 nan 487488 366463 '1,70,523' 21560 25579 25772 27330 20257
 24287 'N.A' 21543 23211 28648 601424 29834 214364 29100 '-' 19081 'NO'
 12058 28526 84526 17237 19829 6801 190742 'NIL' 23029 26651 16525 29293
 28714 20120]
ENTRANCE RANK(STATE RANK)
[24587 29514 44415 14844 11372 23776 nan 22258 25579 6999 25391 55665 25772
 27330 19134 22090 24287 41934 29640 25915 22358 25778 21543 23336 34 20486
 17956 29834 14254 22892 17662 29100 26545 26715 28691 22401 27795 25051
 27734 5404 23059 28568 28977 29865 41393 21161 25522 19312 23140 21618
 19101 28739 6178 29222 32000 28517 23029 26651 29951 28899 16525 70579
 22330 '-' 23148 28714]
SEM 1
[ 6.37  6.85  6.36  6.63  6.59  5.93  7.07  7.59   nan  7.7   6.78  6.52
  8.22  7.    6.48  6.67  6.3   6.96  7.19  6.15  6.93  7.3   6.04  7.67
  7.93  7.56  7.26  6.    8.26  8.04  8.19  7.74  7.41  6.11  7.85  7.48
  7.78  8.11  8.    7.11  6.7   6.81  6.74  5.02  7.04  6.89  6.56  7.44
  6.22  8.15]
SEM 2
[ 6.97  5.57  8.17  6.72  7.03  7.    6.9   6.83  7.9   6.42   nan  7.83
  6.17  6.79  8.21  7.1   7.41  7.07  8.24  7.24  6.66  7.59  8.45  6.14
  7.72  8.34  7.46  7.14  8.07  8.    8.83  8.28  7.66  6.69  7.52  8.69
  7.31  6.86  5.85  7.97  8.38  8.48  8.55  8.1   8.03  6.89  5.07  7.34
  6.76  5.83  8.62  5.96  6.45]
SEM 3
[ 6.9   6.95  7.83  6.59  7.48  7.21  6.97  7.24  6.55  6.68  5.86  8.14
  6.72  6.66  8.41  7.97  7.31  6.48  7.    8.45  6.86  6.14  6.34  7.28
  5.69  7.93  5.72  7.69  7.34  6.31  7.79  8.07  7.72  8.    7.38  7.76
  7.55  6.1   7.17  8.17  6.21  8.24  7.1   8.21  7.41  7.52  5.9   6.73
  6.62  5.67  8.66  7.14  6.38  6.45  8.86  6.56  5.79   nan]
SEM 4
[ 7.69  7.62  8.81  6.96  8.08  7.56  6.54  7.85  7.73  5.41  6.19  8.54
  6.77  7.    9.73  8.38  7.54  7.38  7.96  8.15  8.31  7.04  5.65  8.
  6.31  6.69  7.92  5.92  5.    7.77  6.46  8.42  8.46  7.42  8.23  6.73
  6.38  8.88  7.23  7.12  8.96  6.04  9.    8.65  9.08  7.5   6.41  5.96
  7.08  7.46  4.62  8.5   7.31  5.94  5.69  9.27  7.58  8.04  6.3    nan]
SEM 5
[ 7.73  7.69  8.54  6.42  8.69  7.33  7.27  7.77  7.65  6.69  6.85  8.5
  6.81  7.62  8.62  8.    7.81  7.15  6.77  7.58  8.92  7.5   6.31  8.08
  7.31  6.58  8.38  8.58  6.65  5.04  8.19  8.77  7.35  8.35  8.31  8.81
  8.46  7.23  8.12  8.42  7.08  7.42  8.73  8.65  8.88  7.96  6.24  5.73
  6.38  8.04  9.19  7.88  8.15  7.    7.46   nan]
ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)
['NO' 'YES' nan 'Yes']
OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
['NO' 'YES' nan 'ONE']

In [11]:
boards_x = {'CENTRAL BOARD OF SECONDARY EDUCATION':'CBSE',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS,NEW DELHI':'CISCE',
 'WEST BENGAL BOARD OF SECONDARY EDUCATION':'WBBSE',
 'I.C.S.E':'CISCE',
 'B.S.E.B PATNA': 'BSEB',
 'BIHAR SCHOOL EXAMINATION BOARD': 'BSEB',
 'WEST BENGAL BOARD OF SECONDARY EXAMINATION': 'WBBSE',
 'TRIPURA BOARD OF SECONDARY EDUCATION': 'TBSE',
 'COUNCIL OF INDIAN SCHOOL CERTIFICATE EXAMINATION': 'CISCE',
 'CENTRAL BOARD OF':'CBSE',
 'C.B.S.E': 'CBSE',
 'J.A.C RANCHI': 'JAC',
 'WEST BENGAL BOARD OF SECONDRY EDUCATION': 'WBBSE',
 'C.I.S.C.E.': 'CISCE',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS': 'CISCE',
 'WEST BENGAL BOARD OF SECONDARY EDUCCATION': 'WBBSE',
 'CENTRAL BOARD OF SECONDARY EXAMINATION': 'CBSE',
 'BIHAR SCHOOL EXAMINATION BOARD PATNA': 'BSEB',
 'ICSE': 'CISCE',
 '\nBIHAR SCHOOL EXAMINATION BOARD,PATNA': 'BSEB',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION(CISCE)': 'CISCE',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION': 'CISCE',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS, NEW DELHI': 'CISCE',
'WBBSE': 'WBBSE',
'CISCE': 'CISCE'}

In [12]:
boards_xii = {'BIHAR SCHOOL EXAMINATION BOARD, PATNA': 'BSEB',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS,NEW DELHI': 'CISCE',
 'WEST BENGAL COUNCIL OF HIGHER SECONDARY EDUCATION': 'WBCHSE',
 'I.C.S.E': 'WBCHSE',
 'B.S.E.B PATNA': 'BSEB',
 'WBCHSE': 'WBCHSE',
 'BIHAR SCHOOL EXAMINATION BOARD': 'BSEB',
 'CENTRAL BOARD OF SECONDARY EDUCATION': 'CBSE',
 'AISSCE': 'CBSE', 
 'CBSE': 'CBSE',
 'C.B.S.E': 'CBSE',
 'J.A.C RANCHI': 'JAC',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION': 'CISCE',
 'BSEB': 'BSEB',
 'WEST BENGAL COUNCIL OF HIGHER SECONDRY EDUCATION': 'WBCHSE',
 'C.I.S.C.E.': 'CISCE',
 'CISCE': 'CISCE',
 'CENTRAL BOARD OF SECONDARY EDUCATION (CBSE)': 'CBSE',
 'WEST BENGAL COUNCIL OF SECONDARY EDUCATION': 'WBCHSE',
 'BIHAR SCHOOL EXAMINATION BOARD,PATNA': 'BSEB',
 'CENTRAL BOARD OF SECONDARY EXAMINATION': 'CBSE',
 'BIHAR SCHOOL EXAMINATION BOARD PATNA': 'BSEB',
 'ISC': 'CISCE',
 'COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATION,NEW DELHI': 'CISCE'}

In [13]:
db.index = np.arange(1,83)

In [14]:
db = db.drop(db.index[[79, 80, 81]])

In [15]:
db_marks.index = np.arange(1,83)

In [16]:
db_marks = db_marks.drop(db_marks.index[[79,80,81]])

In [17]:
db_marks['NAME OF BOARD - CLASS X'] = db_marks['NAME OF BOARD - CLASS X'].map(boards_x)
db_marks['NAME OF BOARD/COUNCIL - CLASS XII'] = db_marks['NAME OF BOARD/COUNCIL - CLASS XII'].map(boards_xii)

In [18]:
for i in db_marks.columns:
    print(i)
    print(db_marks[i].unique())

NAME OF BOARD - CLASS X
['CBSE' 'CISCE' 'WBBSE' 'BSEB' 'TBSE' nan 'JAC']
MEDIUM OF INSTRUCTION-CLASS X
['ENGLISH' 'BENGALI' 'HINDI' nan 'ENGLIGH' 'BENGALI  ']
Y.O.P - CLASS X
[ 2011.  2010.    nan  2009.  2008.]
ACTUAL % OF CLASS X
[ 95.     81.71   83.11   86.14   78.     83.75   73.83   76.75   66.5    70.
  55.     89.62   72.43   81.7    82.     62.1    69.13   82.75   72.
  69.75   76.     77.9    62.375  71.75   53.43   60.     83.25    7.6
  63.75   84.87   51.3    63.77   77.62   83.6    81.     88.14   74.57
  85.86   77.56   87.4    79.13   77.     66.55   87.1    75.     77.83
  82.12   72.25   74.85   77.87   78.16   79.56   83.87   78.5    79.87
  78.86   89.3    78.875  76.38   80.087  84.     74.62   82.5    71.25
  85.5    91.29   78.25   92.28   61.     87.85   74.1  ]
NAME OF BOARD/COUNCIL - CLASS XII
['BSEB' 'CISCE' 'WBCHSE' nan 'CBSE' 'JAC']
MEDIUM OF INSTRUCTION - CLASS XII
['ENGLISH' 'BENGALI' 'HINDI' nan]
Y.O.P - CLASS XII
[ 2013.  2012.    nan  2011.]
ACTUAL % OF CLASS XII
[ 70.6   70.    66.    77.    74.    69.8   65.71  75.    63.8     nan
  72.57  65.6   68.    77.14  67.83  64.    67.43  70.71  68.4   78.28
  71.8   54.42  59.43  60.    73.43  66.28  70.57  80.14  63.2   58.5
  75.28  69.    71.71  82.    71.14  78.2   73.28  87.    67.14  60.4
  55.85  78.5   73.71  63.    74.2   68.29  66.16  63.28  73.15  72.    74.8
  72.8   85.    72.43  73.5   76.    67.    81.42  68.57  69.42  61.85
  61.4   80.    66.86  89.17  76.5   63.4   67.6 ]
NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)
['WBJEE' 'AIEEE' 'JEE(MAIN)' 'JELET'
 'WEST BENGAL JOINT ENTRANCE EXAMINATION'
 'WEST BENGAL JOINT ENTRANCE EXAMINATION ' 'JEE(Main)']
ENTRANCE RANK(OVERALL ALL INDIA RANK)
[24587 29514 nan 487488 366463 '1,70,523' 21560 25579 25772 27330 20257
 24287 'N.A' 21543 23211 28648 601424 29834 214364 29100 '-' 19081 'NO'
 12058 28526 84526 17237 19829 6801 190742 'NIL' 23029 26651 16525 29293
 28714 20120]
ENTRANCE RANK(STATE RANK)
[24587 29514 44415 14844 11372 23776 nan 22258 25579 6999 25391 55665 25772
 27330 19134 22090 24287 41934 29640 25915 22358 25778 21543 23336 34 20486
 17956 29834 14254 22892 17662 29100 26545 26715 28691 22401 27795 25051
 27734 5404 23059 28568 28977 29865 41393 21161 25522 19312 23140 21618
 19101 28739 6178 29222 32000 28517 23029 26651 29951 28899 16525 70579
 22330 '-' 23148 28714]
SEM 1
[ 6.37  6.85  6.36  6.63  6.59  5.93  7.07  7.59   nan  7.7   6.78  6.52
  8.22  7.    6.48  6.67  6.3   6.96  7.19  6.15  6.93  7.3   6.04  7.67
  7.93  7.56  7.26  6.    8.26  8.04  8.19  7.74  7.41  6.11  7.85  7.48
  7.78  8.11  8.    7.11  6.7   6.81  6.74  5.02  7.04  6.89  6.56  7.44
  6.22  8.15]
SEM 2
[ 6.97  5.57  8.17  6.72  7.03  7.    6.9   6.83  7.9   6.42   nan  7.83
  6.17  6.79  8.21  7.1   7.41  7.07  8.24  7.24  6.66  7.59  8.45  6.14
  7.72  8.34  7.46  7.14  8.07  8.    8.83  8.28  7.66  6.69  7.52  8.69
  7.31  6.86  5.85  7.97  8.38  8.48  8.55  8.1   8.03  6.89  5.07  7.34
  6.76  5.83  8.62  5.96  6.45]
SEM 3
[ 6.9   6.95  7.83  6.59  7.48  7.21  6.97  7.24  6.55  6.68  5.86  8.14
  6.72  6.66  8.41  7.97  7.31  6.48  7.    8.45  6.86  6.14  6.34  7.28
  5.69  7.93  5.72  7.69  7.34  6.31  7.79  8.07  7.72  8.    7.38  7.76
  7.55  6.1   7.17  8.17  6.21  8.24  7.1   8.21  7.41  7.52  5.9   6.73
  6.62  5.67  8.66  7.14  6.38  6.45  8.86  6.56  5.79]
SEM 4
[ 7.69  7.62  8.81  6.96  8.08  7.56  6.54  7.85  7.73  5.41  6.19  8.54
  6.77  7.    9.73  8.38  7.54  7.38  7.96  8.15  8.31  7.04  5.65  8.
  6.31  6.69  7.92  5.92  5.    7.77  6.46  8.42  8.46  7.42  8.23  6.73
  6.38  8.88  7.23  7.12  8.96  6.04  9.    8.65  9.08  7.5   6.41  5.96
  7.08  7.46  4.62  8.5   7.31  5.94  5.69  9.27  7.58  8.04  6.3 ]
SEM 5
[ 7.73  7.69  8.54  6.42  8.69  7.33  7.27  7.77  7.65  6.69  6.85  8.5
  6.81  7.62  8.62  8.    7.81  7.15  6.77  7.58  8.92  7.5   6.31  8.08
  7.31  6.58  8.38  8.58  6.65  5.04  8.19  8.77  7.35  8.35  8.31  8.81
  8.46  7.23  8.12  8.42  7.08  7.42  8.73  8.65  8.88  7.96  6.24  5.73
  6.38  8.04  9.19  7.88  8.15  7.    7.46]
ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)
['NO' 'YES' nan 'Yes']
OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
['NO' 'YES' nan 'ONE']

In [19]:
medium = {'ENGLISH':1, 'BENGALI': 2, 'HINDI': 3, 'ENGLIGH': 1, 'BENGALI  ':2}

In [20]:
db_marks['MEDIUM OF INSTRUCTION-CLASS X'] = db_marks['MEDIUM OF INSTRUCTION-CLASS X'].map(medium)
db_marks['MEDIUM OF INSTRUCTION - CLASS XII'] = db_marks['MEDIUM OF INSTRUCTION - CLASS XII'].map(medium)

In [21]:
board_num = {'CBSE':1, 'CISCE':2, 'WBBSE':3, 'TBSE':4, 'BSEB':5, 'WBCHSE':6, 'JAC': 7}

In [22]:
db_marks['NAME OF BOARD - CLASS X'] = db_marks['NAME OF BOARD - CLASS X'].map(board_num)
db_marks['NAME OF BOARD/COUNCIL - CLASS XII'] = db_marks['NAME OF BOARD/COUNCIL - CLASS XII'].map(board_num)

In [23]:
pass_x = {2011.:4, 2010.:3, 2009.:2,  2008.:1}
pass_xii = {2013.:3, 2012.:2, 2011.:1}

In [24]:
db_marks['Y.O.P - CLASS X'] = db_marks['Y.O.P - CLASS X'].map(pass_x)
db_marks['Y.O.P - CLASS XII'] = db_marks['Y.O.P - CLASS XII'].map(pass_xii)

In [25]:
entrance = {'WBJEE':1, 'AIEEE':2, 'JEE(MAIN)':2, 'JELET':3, 'WEST BENGAL JOINT ENTRANCE EXAMINATION':1,
 'WEST BENGAL JOINT ENTRANCE EXAMINATION ':1, 'JEE(Main)':2}

In [26]:
db_marks['NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)'] = db_marks['NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)'].map(entrance)

In [27]:
yes_no = {'NO':1, 'YES':2, 'Yes':2, 'ONE':2}

In [28]:
db_marks['ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)'] = db_marks['ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)'].map(yes_no)
db_marks['OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)'] = db_marks['OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)'].map(yes_no)

In [29]:
db_marks[db_marks['ENTRANCE RANK(OVERALL ALL INDIA RANK)']=='-']

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
39,2.0,1.0,3.0,74.57,2.0,1.0,2.0,71.14,1,-,28691,7.56,8.0,7.72,8.46,8.31,1.0,2.0

In [30]:
db_marks.ix[39,9]=0

In [31]:
db_marks[db_marks['ENTRANCE RANK(OVERALL ALL INDIA RANK)']=='1,70,523']

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
7,5.0,3.0,4.0,73.83,5.0,3.0,3.0,69.8,2,"1,70,523",NaN,5.93,6.9,6.97,6.54,7.27,2.0,NaN

In [32]:
db_marks.ix[7,9]=0

In [33]:
db_marks[db_marks['ENTRANCE RANK(OVERALL ALL INDIA RANK)']=='NIL']

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
68,3.0,2.0,4.0,84.0,6.0,2.0,3.0,81.42,1,NIL,28517,7.67,8.28,8.21,8.38,8.54,1.0,1.0

In [34]:
db_marks.ix[68,9]=0

In [35]:
db_marks[db_marks['ENTRANCE RANK(OVERALL ALL INDIA RANK)']=='NO']

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
45,3.0,2.0,3.0,77.00,6.0,1.0,2.0,66.00,1,NO,27734,8.04,7.52,7.55,8.15,7.77,1.0,2.0
54,3.0,2.0,4.0,77.87,6.0,2.0,3.0,63.28,1,NO,41393,6.96,7.72,8.24,8.81,8.65,1.0,1.0

In [36]:
db_marks.ix[45,9]=0
db_marks.ix[54,9]=0

In [37]:
db_marks[db_marks['ENTRANCE RANK(OVERALL ALL INDIA RANK)']=='N.A']

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
23,1.0,1.0,4.0,95.00,1.0,1.0,3.0,68.4,1,N.A,22358,6.96,8.24,8.45,8.31,8.92,1.0,1.0
34,3.0,3.0,4.0,63.77,6.0,1.0,3.0,58.5,1,N.A,22892,6.30,7.72,7.69,7.38,8.19,1.0,1.0

In [38]:
db_marks.ix[23,9]=0
db_marks.ix[34,9]=0

In [39]:
db_marks[db_marks['ENTRANCE RANK(STATE RANK)']=='-']

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
76,2.0,1.0,3.0,61.0,1.0,1.0,2.0,73.5,1,29293,-,6.59,7.52,7.79,7.58,7.88,1.0,2.0

In [40]:
db_marks.ix[76,10]=0

In [41]:
db_marks = db_marks.fillna(0)

In [42]:
for i in db_marks.columns:
    print(i)
    print(db_marks[i].unique())

NAME OF BOARD - CLASS X
[ 1.  2.  3.  5.  4.  0.  7.]
MEDIUM OF INSTRUCTION-CLASS X
[ 1.  2.  3.  0.]
Y.O.P - CLASS X
[ 4.  3.  0.  2.  1.]
ACTUAL % OF CLASS X
[ 95.     81.71   83.11   86.14   78.     83.75   73.83   76.75   66.5    70.
  55.     89.62   72.43   81.7    82.     62.1    69.13   82.75   72.
  69.75   76.     77.9    62.375  71.75   53.43   60.     83.25    7.6
  63.75   84.87   51.3    63.77   77.62   83.6    81.     88.14   74.57
  85.86   77.56   87.4    79.13   77.     66.55   87.1    75.     77.83
  82.12   72.25   74.85   77.87   78.16   79.56   83.87   78.5    79.87
  78.86   89.3    78.875  76.38   80.087  84.     74.62   82.5    71.25
  85.5    91.29   78.25   92.28   61.     87.85   74.1  ]
NAME OF BOARD/COUNCIL - CLASS XII
[ 5.  2.  6.  0.  1.  7.]
MEDIUM OF INSTRUCTION - CLASS XII
[ 1.  2.  3.  0.]
Y.O.P - CLASS XII
[ 3.  2.  0.  1.]
ACTUAL % OF CLASS XII
[ 70.6   70.    66.    77.    74.    69.8   65.71  75.    63.8    0.    72.57
  65.6   68.    77.14  67.83  64.    67.43  70.71  68.4   78.28  71.8
  54.42  59.43  60.    73.43  66.28  70.57  80.14  63.2   58.5   75.28  69.
  71.71  82.    71.14  78.2   73.28  87.    67.14  60.4   55.85  78.5
  73.71  63.    74.2   68.29  66.16  63.28  73.15  72.    74.8   72.8   85.
  72.43  73.5   76.    67.    81.42  68.57  69.42  61.85  61.4   80.    66.86
  89.17  76.5   63.4   67.6 ]
NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.)
[1 2 3]
ENTRANCE RANK(OVERALL ALL INDIA RANK)
[ 24587  29514      0 487488 366463  21560  25579  25772  27330  20257
  24287  21543  23211  28648 601424  29834 214364  29100  19081  12058
  28526  84526  17237  19829   6801 190742  23029  26651  16525  29293
  28714  20120]
ENTRANCE RANK(STATE RANK)
[24587 29514 44415 14844 11372 23776     0 22258 25579  6999 25391 55665
 25772 27330 19134 22090 24287 41934 29640 25915 22358 25778 21543 23336
    34 20486 17956 29834 14254 22892 17662 29100 26545 26715 28691 22401
 27795 25051 27734  5404 23059 28568 28977 29865 41393 21161 25522 19312
 23140 21618 19101 28739  6178 29222 32000 28517 23029 26651 29951 28899
 16525 70579 22330 23148 28714]
SEM 1
[ 6.37  6.85  6.36  6.63  6.59  5.93  7.07  7.59  0.    7.7   6.78  6.52
  8.22  7.    6.48  6.67  6.3   6.96  7.19  6.15  6.93  7.3   6.04  7.67
  7.93  7.56  7.26  6.    8.26  8.04  8.19  7.74  7.41  6.11  7.85  7.48
  7.78  8.11  8.    7.11  6.7   6.81  6.74  5.02  7.04  6.89  6.56  7.44
  6.22  8.15]
SEM 2
[ 6.97  5.57  8.17  6.72  7.03  7.    6.9   6.83  7.9   6.42  0.    7.83
  6.17  6.79  8.21  7.1   7.41  7.07  8.24  7.24  6.66  7.59  8.45  6.14
  7.72  8.34  7.46  7.14  8.07  8.    8.83  8.28  7.66  6.69  7.52  8.69
  7.31  6.86  5.85  7.97  8.38  8.48  8.55  8.1   8.03  6.89  5.07  7.34
  6.76  5.83  8.62  5.96  6.45]
SEM 3
[ 6.9   6.95  7.83  6.59  7.48  7.21  6.97  7.24  6.55  6.68  5.86  8.14
  6.72  6.66  8.41  7.97  7.31  6.48  7.    8.45  6.86  6.14  6.34  7.28
  5.69  7.93  5.72  7.69  7.34  6.31  7.79  8.07  7.72  8.    7.38  7.76
  7.55  6.1   7.17  8.17  6.21  8.24  7.1   8.21  7.41  7.52  5.9   6.73
  6.62  5.67  8.66  7.14  6.38  6.45  8.86  6.56  5.79]
SEM 4
[ 7.69  7.62  8.81  6.96  8.08  7.56  6.54  7.85  7.73  5.41  6.19  8.54
  6.77  7.    9.73  8.38  7.54  7.38  7.96  8.15  8.31  7.04  5.65  8.
  6.31  6.69  7.92  5.92  5.    7.77  6.46  8.42  8.46  7.42  8.23  6.73
  6.38  8.88  7.23  7.12  8.96  6.04  9.    8.65  9.08  7.5   6.41  5.96
  7.08  7.46  4.62  8.5   7.31  5.94  5.69  9.27  7.58  8.04  6.3 ]
SEM 5
[ 7.73  7.69  8.54  6.42  8.69  7.33  7.27  7.77  7.65  6.69  6.85  8.5
  6.81  7.62  8.62  8.    7.81  7.15  6.77  7.58  8.92  7.5   6.31  8.08
  7.31  6.58  8.38  8.58  6.65  5.04  8.19  8.77  7.35  8.35  8.31  8.81
  8.46  7.23  8.12  8.42  7.08  7.42  8.73  8.65  8.88  7.96  6.24  5.73
  6.38  8.04  9.19  7.88  8.15  7.    7.46]
ANY BACKLOG(S) IN CURRENT COURSE(YES/NO)
[ 1.  2.  0.]
OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
[ 1.  2.  0.]

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
db_marks_array = np.array(db_marks)

In [45]:
db_marks_p = MinMaxScaler().fit_transform(X=db_marks_array)

In [46]:
db_marks_p = pd.DataFrame(db_marks_p, columns=db_marks.columns, index=db_marks.index)

In [47]:
db_marks_p.tail()

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
75,0.285714,0.333333,1.00,0.968879,0.285714,0.333333,1.000000,1.000000,0.0,0.000000,0.316383,0.905569,1.000000,1.000000,0.909980,1.000000,0.5,0.5
76,0.285714,0.333333,0.75,0.610984,0.142857,0.333333,0.666667,0.824268,0.0,0.048706,0.000000,0.797821,0.851642,0.664577,0.579256,0.684337,0.5,1.0
77,0.285714,0.333333,0.75,0.918192,0.285714,0.333333,0.666667,0.857912,0.0,0.000000,0.327973,0.986683,0.976217,0.579937,0.669276,0.749398,0.5,1.0
78,0.000000,0.333333,1.00,0.760870,0.142857,0.333333,1.000000,0.711001,0.0,0.047743,0.406835,0.739709,0.674972,0.278997,0.328767,0.472289,0.5,0.5
79,0.000000,0.333333,0.75,0.804348,0.142857,0.333333,0.666667,0.758103,0.0,0.033454,0.000000,0.797821,0.730464,0.037618,0.563601,0.583133,1.0,1.0

In [48]:
from sklearn.cluster import KMeans

In [49]:
clust = KMeans(n_clusters=4, n_jobs=-1)

In [50]:
pred = clust.fit_predict(db_marks_p)

In [51]:
class_output = pd.DataFrame(columns=['output','name'], index=db.index)

In [52]:
class_output['name'] = db["STUDENT\'S FULL NAME"]
class_output['output'] = pred

In [53]:
len(pred)

79

In [54]:
class_output[class_output['output']==3]

    output                     name
2        3           ABHISHEK GUPTA
13       3            ANKIT KRISHNA
14       3              ANKIT KUMAR
16       3               ANKITA RAJ
20       3            ARPITA BAKSHI
23       3         BARKHA CHOUDHARY
24       3           BISHAL CHHETRI
30       3              FAHAD ANWAR
36       3             MANISH KUMAR
38       3           MOINAK GHOSHAL
39       3  MURTAAZUDDIN AHMAD KHAN
40       3            MUSKAN SETHIA
42       3          NISHA CHOWDHURY
47       3           PRASHANT KUMAR
49       3            RANVEER KUMAR
53       3          RUPAM CHOWDHURY
58       3            SHIVAM SHAKTI
59       3           SHIVANI KUMARI
60       3          SHRABANI SARKAR
62       3             SUBHAM KUNDU
64       3       SUBHRAJIT MAJUMDER
72       3          SWAPNIL SHEKHAR
73       3              SWATI SNEHA
75       3          TANUSREE SIKDER
76       3                   TRIPTI
77       3        UDIT KUMAR GHADEI
78       3                  UTKARSH
79       3              VIPUL KUMAR

In [55]:
import matplotlib.pyplot as plt

In [161]:
plt.scatter(class_output['output'], class_output.index)
plt.show()

In [162]:
db_marks_p.describe()

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,0.349005,0.518987,0.870253,0.791249,0.571429,0.421941,0.831224,0.758893,0.094937,0.053125,0.289158,0.803001,0.794143,0.474505,0.563254,0.646973,0.550633,0.639241
std,0.196445,0.224857,0.187172,0.141536,0.338526,0.182643,0.243861,0.169117,0.254144,0.163771,0.192993,0.202750,0.207526,0.251375,0.206495,0.205167,0.234725,0.319622
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.285714,0.333333,0.750000,0.740732,0.142857,0.333333,0.666667,0.736907,0.000000,0.000000,0.181541,0.771186,0.761042,0.275862,0.420744,0.508434,0.500000,0.500000
50%,0.428571,0.333333,1.000000,0.807323,0.857143,0.333333,1.000000,0.785017,0.000000,0.000000,0.326712,0.838983,0.827860,0.482759,0.579256,0.657831,0.500000,0.500000
75%,0.428571,0.666667,1.000000,0.871968,0.857143,0.666667,1.000000,0.828249,0.000000,0.038442,0.398929,0.905569,0.921291,0.677116,0.722114,0.833735,0.500000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [163]:
pd.DataFrame(db_marks_p.ix[58,:]).T

,NAME OF BOARD - CLASS X,MEDIUM OF INSTRUCTION-CLASS X,Y.O.P - CLASS X,ACTUAL % OF CLASS X,NAME OF BOARD/COUNCIL - CLASS XII,MEDIUM OF INSTRUCTION - CLASS XII,Y.O.P - CLASS XII,ACTUAL % OF CLASS XII,NAME OF JOINT ENTRANCE (WBJEE/AIEEE/JELET ETC.),ENTRANCE RANK(OVERALL ALL INDIA RANK),ENTRANCE RANK(STATE RANK),SEM 1,SEM 2,SEM 3,SEM 4,SEM 5,ANY BACKLOG(S) IN CURRENT COURSE(YES/NO),OVERALL YEAR GAP(S) IN ACADEMIC CAREER (YES/NO)
58,0.285714,0.333333,1.0,0.898627,0.142857,0.333333,1.0,0.838847,0.0,0.0,0.273622,0.98184,0.96829,0.721003,0.872798,0.889157,0.5,0.5

In [58]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)

In [59]:
axes = pca.fit_transform(db_marks_p)

In [60]:
plt.scatter(axes[:,1], axes[:,2], picker=True)
plt.show()

In [61]:
fig = plt.figure()

In [62]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly 
plotly.tools.set_credentials_file(username='shakti365', api_key='7v8d17uuzd')

In [63]:
x, y, z = np.random.multivariate_normal(np.array([0,0,0]), np.eye(3), 400).transpose()

trace1 = go.Scatter3d(
    x=axes[:,0],
    y=axes[:,1],
    z=axes[:,2],
    mode='markers',
    text=class_output['name'],
    marker=dict(
        size=12,
        color=pred,                # set color to an array/list of desired values
        colorscale='Viridis',   # choose a colorscale
        opacity=0.8
    )
)

data = [trace1]
layout = go.Layout(
    margin=dict(
        l=0,
        r=0,
        b=0,
        t=0
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='3d-scatter-colorscale')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~shakti365/0 or inside your plot.ly account where it is named '3d-scatter-colorscale'